
.main {
  background: #fff;
  margin-top: 30px;
  padding: 50px;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-left: auto;
  margin-right: auto;
}

.main h1 {
  text-align: center;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type='text'] {
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 3px;
  min-width: 80%;
}

.form button[type='submit'] {
  border: none;
  height: 40px;
  width: 40px;
  color: #fff;
  background: #f04c64;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-left: 4px
}

.form button[type='submit']:hover {
  background-color: #e51433;
}

.tarefas {
  margin-top: 30px;
}

.tarefas li {
  padding-left: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 500ms;
}

.tarefas li .edit {
  margin-right: 20px;
  color: #51c5de;
}

.tarefas li .delete {
  margin-right: 20px;
  color: #e51433;
}

.tarefas li:hover {
  background: #51c5de;
}

.tarefas li:hover .edit, .tarefas li:hover .delete {
  color: #000;
  transition: all 500ms;
}

.tarefas li .edit, .tarefas li:hover .delete {
  cursor: pointer;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
